<aside class="w-[428px] h-screen bg-black bg-opacity-50 p-6 flex flex-col justify-between">
  <div>
    <h1 class="font-bold text-3xl text-center mb-4"><%= current_user&.restaurant&.trade_name || "" %></h1>

    <p class="text-xl text-center">Olá, <span class="font-bold"><%= current_user.first_name %></span></p>

    <nav class="w-full mt-10">
      <ul class="flex flex-col gap-4">
        <%= link_to root_path do %>
          <li class="nav-item">
            Início
          </li>
        <% end %>

        <%= link_to opentimes_path do %>
          <li class="nav-item">
            Meus horários
          </li>
        <% end %>

        <%= link_to dishes_path do %>
          <li class="nav-item">
            Pratos
          </li>
        <% end %>

        <%= link_to drinks_path do %>
          <li class="nav-item">
            Bebidas
          </li>
        <% end %>
      </ul>
    </nav>
  </div>

  <div class="space-y-6 items-center text-center">
    <%= form_with url: search_path, method: :get, html: { class: 'space-y-2', id: 'search-form' } do %>
      <%= label_tag :query, "Buque por pratos ou bebidas:" %>
      <div class="flex">
        <%= text_field_tag :query, params[:query], class: "bg-gray-100 text-black border p-2" %>
        <%= submit_tag "Buscar", class: 'w-full py-3 bg-[#5395cf] hover:bg-[#3f729e] duration-200 cursor-pointer' %>
      </div>
    <% end %>

    <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'bg-red-500 w-full rounded-lg py-3' %>
  </div>
</aside>