<div class="flex items-center justify-between mb-10">
  <h2 class="text-2xl font-semibold mb-6">
    <%= @menu.name %>
    <% if @menu.end_date.present? %>
      <% days_left = (@menu.end_date - Date.today).to_i %>
      <span class="text-red-500 font-normal text-base"> - Expira em <%= days_left %> dia(s)</span>
    <% end %>
  </h2>

  <div class="flex gap-6 items-center">
    <%= link_to 'Novo pedido', new_menu_order_path(@menu), class: "cursor-pointer bg-[#5395cf] py-3 rounded-lg font-bold hover:bg-[#3f729e] duration-200 px-3"%>

    <% if current_user.owner? %>
      <%= link_to 'Editar', edit_menu_path(@menu), data: { confirm: 'Tem certeza que deseja excluir este cardápio?' }, class: 'cursor-pointer bg-[#5395cf] py-3 rounded-lg font-bold hover:bg-[#3f729e] duration-200 px-3' %>
      <%= button_to 'Apagar', menu_path(@menu), method: :delete, data: { confirm: 'Tem certeza que deseja excluir este cardápio?' }, class: 'cursor-pointer bg-red-500 py-3 rounded-lg font-bold hover:bg-red-700 duration-200 px-3' %>
    <% end %>
  </div>
</div>

<div class="bg-gray-800 p-6 rounded-lg shadow-lg mb-8">
  <h3 class="text-2xl font-semibold text-[#5395cf] mb-4">Pratos</h3>
  <% if @active_dishes.empty? %>
    <p class="text-gray-400">Nenhum prato ativo neste cardápio.</p>
  <% else %>
    <ul class="space-y-6">
      <% @active_dishes.each do |dish| %>
        <li class="bg-gray-700 p-4 rounded-lg">
          <div class="flex items-center justify-between">
            <h4 class="text-xl font-bold text-white"><%= link_to dish.name, dish_path(dish), class: "hover:underline" %></h4>
            <span class="text-gray-400 text-sm"><%= dish.description %></span>
          </div>

          <% if dish.portions.any? %>
            <div class="mt-4">
              <h5 class="text-lg font-semibold text-gray-300">Porções</h5>
              <ul class="space-y-1 ml-4">
                <% dish.portions.each do |portion| %>
                  <li class="flex justify-between text-gray-400">
                    <span><%= portion.description %></span>
                    <span><%= number_to_currency(portion.price) %></span>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="bg-gray-800 p-6 rounded-lg shadow-lg">
  <h3 class="text-2xl font-semibold text-[#5395cf] mb-4">Bebidas</h3>
  <% if @active_drinks.empty? %>
    <p class="text-gray-400">Nenhuma bebida ativa neste cardápio.</p>
  <% else %>
    <ul class="space-y-6">
      <% @active_drinks.each do |drink| %>
        <li class="bg-gray-700 p-4 rounded-lg">
          <div class="flex items-center justify-between">
            <h4 class="text-xl font-bold text-white"><%= link_to drink.name, drink_path(drink), class: "hover:underline" %></h4>
            <span class="text-gray-400 text-sm"><%= drink.description %></span>
          </div>

          <% if drink.portions.any? %>
            <div class="mt-4">
              <h5 class="text-lg font-semibold text-gray-300">Porções</h5>
              <ul class="space-y-1 ml-4">
                <% drink.portions.each do |portion| %>
                  <li class="flex justify-between text-gray-400">
                    <span><%= portion.description %></span>
                    <span><%= number_to_currency(portion.price) %></span>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>