<%= render partial: 'components/session_title', locals: { title: 'Edição de horário' } %>

<%= form_with model: @opentime, html: { class: 'flex flex-col gap-4 w-1/3 mt-6', id: 'opentime-form' } do |f| %>
  <div class="flex flex-col gap-4 px-8">

    <h2 class="text-center font-bold text-lg text-[#85bff1]"><%= I18n.t('date.day_names')[@opentime.week_day].capitalize %></h2>

    <div class="flex items-center justify-between">
      <%= f.label :open %>
      <%= f.time_field :open, class: "form-input w-auto" %>
    </div>

    <% if @opentime.errors[:open].any? %>
      <div class="text-red-600">
        <% @opentime.errors.full_messages_for(:open).each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div class="flex items-center justify-between">
      <%= f.label :close %>
      <%= f.time_field :close, class: "form-input w-auto" %>
    </div>

    <% if @opentime.errors[:close].any? %>
      <div class="text-red-600">
        <% @opentime.errors.full_messages_for(:close).each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div class="flex items-center justify-between">
      <%= f.label :closed %>
      <%= f.check_box :closed %>
    </div>
  </div>

  <div class="flex justify-center">
    <%= f.submit "Salvar horário", class: "mt-8 cursor-pointer bg-[#5395cf] py-3 px-4 rounded-lg font-bold hover:bg-[#3f729e] duration-200" %>
  </div>
<% end %>
