<%= render partial: 'components/session_title', locals: { title: 'Cadastro de hor치rios' } %>

<% if @restaurant.opentimes.any? && @restaurant.opentimes.first.errors.any? %>
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
    <strong>Verifique os erros abaixo:</strong>
    <ul>
      <% @restaurant.opentimes.first.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with url: opentimes_path, method: :post, local: true do |f| %>
  <div class="grid grid-cols-3 gap-y-20">
    <% (0..6).each do |day| %>
      <div class="flex flex-col gap-4 px-8">
        <h3 class="capitalize"><%= I18n.t('date.day_names')[day] %></h3>

        <div class="flex items-center justify-between">
          <%= label_tag "open[#{day}]", "Hor치rio de Abertura" %>
          <%= time_field_tag "open[#{day}]", nil, class: "form-input w-auto" %>
          <% if @restaurant.opentimes.first&.errors[:open].any? %>
            <p class="text-red-600"><%= @restaurant.opentimes.first.errors[:open].first %></p>
          <% end %>
        </div>

        <div class="flex items-center justify-between">
          <%= label_tag "close[#{day}]", "Hor치rio de Fechamento" %>
          <%= time_field_tag "close[#{day}]", nil, class: "form-input w-auto" %>
          <% if @restaurant.opentimes.first&.errors[:close].any? %>
            <p class="text-red-600"><%= @restaurant.opentimes.first.errors[:close].first %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <p class="text-red-500 mt-10 text-center">游댮 Os dias que n칚o forem preenchidos, v칚o ser considerados como fechados!</p>

  <div class="flex justify-center">
    <%= f.submit "Salvar hor치rios", class: "mt-8 cursor-pointer bg-[#5395cf] py-3 px-4 rounded-lg font-bold hover:bg-[#3f729e] duration-200" %>
  </div>
<% end %>
