<div class="flex items-center justify-between mb-10">
  <div class="flex gap-6 items-center">
    <h2 class="text-2xl font-semibold">
      <%= @dish.name %>
    </h2>

    <% if @dish.active %>
      <div class="bg-green-500 text-white text-xs font-semibold px-2 py-1 rounded shadow-lg z-10">
        Ativo
      </div>
    <% else %>
      <div class="bg-red-500 text-white text-xs font-semibold px-2 py-1 rounded shadow-lg z-10">
        Inativo
      </div>
    <% end %>
  </div>

  <div class="flex gap-6 items-center">
    <%= link_to 'Editar', edit_dish_path(@dish.id), class: "cursor-pointer bg-[#5395cf] py-3 rounded-lg font-bold hover:bg-[#3f729e] duration-200 px-3"%>
    <%= link_to 'Adicionar porção', new_dish_portion_path(@dish.id), class: "cursor-pointer bg-[#5395cf] py-3 rounded-lg font-bold hover:bg-[#3f729e] duration-200 px-3"%>
    <% if @dish.active %>
      <%= button_to 'Desativar', disable_dish_path(@dish), method: :patch, class: 'cursor-pointer bg-red-500 py-3 rounded-lg font-bold hover:bg-red-700 duration-200 px-3' %>
    <% else %>
      <%= button_to 'Ativar', activate_dish_path(@dish), method: :patch, class: 'cursor-pointer bg-green-500 py-3 rounded-lg font-bold hover:bg-green-700 duration-200 px-3' %>
    <% end %>
  </div>
</div>

<div class="flex gap-4">
  <%= image_tag url_for(@dish.image), alt: @dish.name, class: "rounded mb-2 w-48 h-48 object-cover opacity-85 hover:opacity-100 duration-200" %>

  <div class="space-y-2 w-full break-words whitespace-normal">
    <div class="flex gap-4 items-center">
      <% @dish.tags.each do |tag| %>
        <p class="bg-[#a39440] py-2 rounded-lg font-bold text-sm hover:bg-[#685e28] duration-200 px-2">
          <%= tag.name %>
        </p>
      <% end %>
    </div>

    <p>
      <span class="text-lg font-bold">Descrição:</span>
      <%= @dish.description %>
    </p>

    <% if @dish.calories %>
      <p>
        Possui <%= @dish.calories %> calorias.
      </p>
    <% end %>
  </div>
</div>

<% if @dish.portions.empty? %>
  <p class="text-lg text-red-500 font-bold mt-6">Você não possui porções cadastradas!</p>
<% else %>
  <div class="mt-4">
    <h2 class="text-xl font-bold">Porções:</h2>

    <table class="w-1/2 border-collapse border border-gray-600 rounded-lg shadow-md overflow-hidden bg-gray-800 mt-2 text-center bg-opacity-60">
      <thead>
        <tr class="bg-gray-700 bg-opacity-60">
          <th class="px-4 py-2 border border-gray-600 font-semibold">Descrição</th>
          <th class="px-4 py-2 border border-gray-600 font-semibold">Preço</th>
          <th class="px-2 py-2 border border-gray-600 w-20 text-center"></th>
        </tr>
      </thead>

      <tbody>
        <% @dish.portions.each_with_index do |p, index| %>
          <tr class="<%= index.even? ? 'bg-gray-800 bg-opacity-60' : 'bg-gray-700 bg-opacity-60' %>">
            <td class="px-4 py-2 border border-gray-600"><%= link_to p.description, price_history_dish_portion_path(@dish.id, p.id)  %></td>
            <td class="px-4 py-2 border border-gray-600"><%= number_to_currency(p.price) %></td>
            <td class="px-2 py-2 border border-gray-600 text-center">
              <%= link_to 'Editar', edit_dish_portion_path(@dish, p), class: "text-blue-400 hover:text-blue-600" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p class="mt-6 font-bold text-red-400">Veja o histórico de preço clicando na porção!</p>
  </div>
<% end %>